@import "./mixins";

.tr_product_body{
    resize: horizontal;
    overflow: auto;
    td{
        text-align: center;
        padding: 8px;
    }
    &:nth-of-type(2n){
        background: #c9d8ff;
    }
    .td_icon{
        @include flex(row, center, center);
        .icon_container_remove, .icon_container_edit{
            width: 24px;
            height: 24px;
            border-radius: 5px;
            margin: 0 2px;
            cursor: pointer;
            @include flex(row, center, center);
        }
        .icon_container_edit{background: #00aa09;}
        .icon_container_remove{background: #aa0000;}
    }
}

@media (max-width: 650px) {
    .tr_product_body{
        td{
            display: block;
        }
        td:before{
            content: attr(data-cell) " ";
            font-weight: 600;
        }
        &:nth-of-type(2n-1){
            background: #cccccc;
        }
        &:nth-of-type(2n){
            background: #646464;
            color: #fff;
        }
    }
}