@import "./mixins";

.tr_product_body{
    resize: horizontal;
    overflow: auto;
    td{
        text-align: center;
        padding: 8px;
    }
    &:nth-of-type(2n){
        background: #c9d8ff;
    }
    .td_select{
        .custom_select{
            border-radius: 5px;
            margin-right: 3px;
            cursor: pointer;
            padding: 3px;
            border: 2px #646464 solid;
            background: #f5f5f5;
            font-weight: 600;
            &:focus{
                outline: none;
            }
        }
    }
    .td_icon{
        @include flex(row, center, center);
        .icon_container_remove{
            width: 24px;
            height: 24px;
            border-radius: 5px;
            cursor: pointer;
            background: #aa0000;
            @include flex(row, center, center);
        }
    }
}

@media (max-width: 650px) {
    .tr_product_body{
        td{
            display: block;
        }
        td:before{
            content: attr(data-cell) " ";
            font-weight: 600;
        }
        &:nth-of-type(2n-1){
            background: #cccccc;
        }
        &:nth-of-type(2n){
            background: #646464;
            color: #fff;
            .custom_select{
                color: #000;
                border: 2px #202020 solid;
            }
        }
    }
}